openapi: 3.0.0
info:
  contact:
    email: austin.millan@gmail.com
  description: TD Ameritrade API
  termsOfService: https://developer.tdameritrade.com/legal
  title: TD Ameritrade API
  version: 3.0.1
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://api.tdameritrade.com/v2
- url: http://api.tdameritrade.com/v2
paths:
  /accounts/{accountId}/orders/{orderId}:
    delete:
      description: 'Cancel a specific order for a specific account. '
      operationId: cancelOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message if the order was not found.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Cancel Order
      tags:
      - Accounts and Trading
    get:
      description: Get a specific order for a specific account.
      operationId: getOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: A Order object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Order
      tags:
      - Accounts and Trading
    put:
      description: Replace an existing order for an account. The existing order will
        be replaced by the new order. Once replaced, the old order will be canceled
        and a new order will be created.
      operationId: replaceOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Order'
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message if the order was not found.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Replace Order
      tags:
      - Accounts and Trading
  /accounts/{accountId}/orders:
    get:
      description: Orders for a specific account.
      operationId: getOrdersByPath
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: The maximum number of orders to retrieve.
        explode: true
        in: query
        name: maxResults
        required: true
        schema:
          type: integer
        style: form
      - description: Specifies that no orders entered before this time should be returned.
          Valid ISO-8601 formats are  yyyy-MM-dd and yyyy-MM-dd'T'HH:mm:ssz Date must
          be within 60 days from today's date. 'toEnteredTime' must also be set.
        explode: true
        in: query
        name: fromEnteredTime
        required: true
        schema:
          type: string
        style: form
      - description: Specifies that no orders entered after this time should be returned.Valid
          ISO-8601 formats are :yyyy-MM-dd and yyyy-MM-dd'T'HH:mm:ssz. 'fromEnteredTime'
          must also be set.
        explode: true
        in: query
        name: toEnteredTime
        required: true
        schema:
          format: string
          maximum: 0
          type: string
        style: form
      - description: The maximum number of orders to retrieve.
        explode: true
        in: query
        name: status
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: A Order object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Orders By Path
      tags:
      - Accounts and Trading
    post:
      description: Place an order for a specific account.
      operationId: placeOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Order'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Place Order
      tags:
      - Accounts and Trading
  /orders:
    get:
      description: All orders for a specific account or, if account ID isn't specified,
        orders will be returned for all linked accounts
      operationId: getOrdersByQuery
      parameters:
      - description: Account Number
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: form
      - description: The maximum number of orders to retrieve.
        explode: true
        in: query
        name: maxResults
        required: true
        schema:
          type: integer
        style: form
      - description: Specifies that no orders entered before this time should be returned.
          Valid ISO-8601 formats are  yyyy-MM-dd and yyyy-MM-dd'T'HH:mm:ssz Date must
          be within 60 days from today's date. 'toEnteredTime' must also be set.
        explode: true
        in: query
        name: fromEnteredTime
        required: true
        schema:
          type: string
        style: form
      - description: Specifies that no orders entered after this time should be returned.Valid
          ISO-8601 formats are :yyyy-MM-dd and yyyy-MM-dd'T'HH:mm:ssz. 'fromEnteredTime'
          must also be set.
        explode: true
        in: query
        name: toEnteredTime
        required: true
        schema:
          format: string
          maximum: 0
          type: string
        style: form
      - description: The maximum number of orders to retrieve.
        explode: true
        in: query
        name: status
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: form
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Orders By Query
      tags:
      - Accounts and Trading
  /accounts/{accountId}/savedorders:
    get:
      description: Saved orders for a specific account.
      operationId: getSavedOrdersByPath
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SavedOrder'
                type: array
          description: A Order object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Saved Orders by Path
      tags:
      - Accounts and Trading
    post:
      description: 'Save an order for a specific account. '
      operationId: saveOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedOrder'
        description: The order to save.
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Create Saved Order
      tags:
      - Accounts and Trading
  /accounts/{accountId}/savedorders/{savedOrderId}:
    delete:
      description: Delete a specific saved order for a specific account.
      operationId: deleteSavedOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: savedOrderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Delete Saved Order
      tags:
      - Accounts and Trading
    get:
      description: Specific saved order by its ID, for a specific account.
      operationId: getSavedOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: savedOrderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: A Order object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Saved Order
      tags:
      - Accounts and Trading
    put:
      description: Replace an existing saved order for an account. The existing saved
        order will be replaced by the new order.
      operationId: replaceSavedOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: savedOrderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedOrder'
        description: The order to place.
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message if the order was not found.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Replace Saved Order
      tags:
      - Accounts and Trading
  /accounts/{accountId}:
    get:
      description: Account balances, positions, and orders for a specific account.
      operationId: getAccount
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: A Account Object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Account
      tags:
      - Accounts and Trading
  /accounts:
    get:
      description: Account balances, positions, and orders for a specific account.
      operationId: getAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: A Account Object
        "207":
          description: Indicates there was a problem getting account data for one
            or more linked accounts, but the accounts who's data returned successfully
            is in the response. Do not aggregate balances and positions for this case.
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Accounts
      tags:
      - Accounts and Trading
  /oath2/token:
    post:
      description: The token endpoint returns an access token along with an optional
        refresh token.
      operationId: postAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EASObject'
        description: The access token.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EASObject'
          description: A EASObject Object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: Post Access Token
      tags:
      - Authentication
  /instruments:
    get:
      description: Search or retrieve instrument data, including fundamental data.
      operationId: searchInstruments
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: Value to pass to the search. See projection description for more
          information.
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: "The type of request:symbol-search: Retrieve instrument data\
          \ of a specific symbol or cusip\nsymbol-regex: Retrieve instrument data\
          \ for all symbols matching regex. Example: symbol=XYZ.* will return all\
          \ symbols beginning with XYZ\ndesc-search: Retrieve instrument data for\
          \ instruments whose description contains the word supplied. Example: symbol=FakeCompany\
          \ will return all instruments with FakeCompany in the description.\ndesc-regex:\
          \ Search description with full regex support. Example: symbol=XYZ.[A-C]\
          \ returns all instruments whose descriptions contain a word beginning with\
          \ XYZ followed by a character A through C. \nfundamental: Returns fundamental\
          \ data for a single instrument specified by exact symbol."
        explode: true
        in: query
        name: projection
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      Bond:
                        $ref: '#/components/schemas/Bond'
                  - properties:
                      FundamentalData:
                        $ref: '#/components/schemas/FundamentalData'
                  - properties:
                      FundamentalData:
                        $ref: '#/components/schemas/FundamentalData'
                  - properties:
                      Fundamental:
                        $ref: '#/components/schemas/Fundamental'
                  - properties:
                      Instrument:
                        $ref: '#/components/schemas/Instrument'
                type: array
          description: Instruments List
        "400":
          description: An error message indicating the caller must pass a non null
            value in the parameter.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
        "406":
          description: An error message indicating an issue in the symbol regex, or
            number of symbols searched is over the maximum.
      security:
      - Bearer: []
      summary: Search for instrument and fundamental data
      tags:
      - Instruments
  /instruments/{accountId}:
    get:
      description: Search or retrieve instrument data, including fundamental data.
      operationId: getInstrument
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      Bond:
                        $ref: '#/components/schemas/Bond'
                  - properties:
                      FundamentalData:
                        $ref: '#/components/schemas/FundamentalData'
                  - properties:
                      FundamentalData:
                        $ref: '#/components/schemas/FundamentalData'
                  - properties:
                      Fundamental:
                        $ref: '#/components/schemas/Fundamental'
                  - properties:
                      Instrument:
                        $ref: '#/components/schemas/Instrument'
                type: array
          description: Instruments List
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
      security:
      - Bearer: []
      summary: Search for instrument and fundamental data
      tags:
      - Instruments
  /marketdata/hours:
    get:
      description: Retrieve market hours for specified markets
      operationId: getHours
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: The markets for which you're requesting market hours, comma-separated.
          Valid markets are EQUITY, OPTION, FUTURE, BOND, or FOREX.
        explode: true
        in: query
        name: markets
        required: true
        schema:
          type: string
        style: form
      - description: 'The date for which market hours information is requested. Valid
          ISO-8601 formats are : yyyy-MM-dd and yyyy-MM-dd''T''HH:mm:ssz.'
        explode: true
        in: query
        name: date
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hours'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "404":
          description: Not Found
      security:
      - Bearer: []
      summary: Operating hours of markets
      tags:
      - Market Hours
  /marketdata/{market}/hours:
    get:
      description: Retrieve market hours for specified single market
      operationId: getMarketHours
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: The markets for which you're requesting market hours, comma-separated.
          Valid markets are EQUITY, OPTION, FUTURE, BOND, or FOREX.
        explode: false
        in: path
        name: market
        required: true
        schema:
          type: string
        style: simple
      - description: 'The date for which market hours information is requested. Valid
          ISO-8601 formats are : yyyy-MM-dd and yyyy-MM-dd''T''HH:mm:ssz.'
        explode: true
        in: query
        name: date
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hours'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "404":
          description: Not Found
      security:
      - Bearer: []
      summary: Operating hours of markets
      tags:
      - Market Hours
  /marketdata/{index}/movers:
    get:
      description: Top 10 (up or down) movers by value or percent for a particular
        market
      operationId: getMovers
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: The index symbol to get movers from.
        explode: false
        in: path
        name: index
        required: true
        schema:
          type: string
        style: simple
      - description: To return movers with the specified directions of up or down.
        explode: true
        in: query
        name: direction
        required: true
        schema:
          example: '''up'' or ''down'''
          type: string
        style: form
      - description: To return movers with the specified change types of percent or
          value.
        explode: true
        in: query
        name: change
        required: true
        schema:
          example: '''percent'' or ''value'''
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mover'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - Bearer: []
      summary: Retrieve mover information by index symbol, direction type and change
      tags:
      - Movers
  /marketdata/chains:
    get:
      description: Get option chain for an optionable Symbol
      operationId: getOptionChains
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: Enter one symbol
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: Type of contracts to return in the chain. Can be CALL, PUT, or
          ALL. Default is ALL.
        explode: true
        in: query
        name: contractType
        required: true
        schema:
          $ref: '#/components/schemas/PutOrCall'
        style: form
      - description: The number of strikes to return above and below the at-the-money
          price.
        explode: true
        in: query
        name: strikeCount
        required: true
        schema:
          type: string
        style: form
      - description: Include quotes for options in the option chain. Can be TRUE or
          FALSE. Default is FALSE.
        explode: true
        in: query
        name: includeQuotes
        required: true
        schema:
          example: '''TRUE'' or ''FALSE'''
          type: string
        style: form
      - description: Passing a value returns a Strategy Chain. Possible values are
          SINGLE, ANALYTICAL (allows use of the volatility, underlyingPrice, interestRate,
          and daysToExpiration params to calculate theoretical values), COVERED, VERTICAL,
          CALENDAR, STRANGLE, STRADDLE, BUTTERFLY, CONDOR, DIAGONAL, COLLAR, or ROLL.
          Default is SINGLE.
        explode: true
        in: query
        name: strategy
        required: true
        schema:
          $ref: '#/components/schemas/Strategy'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      OptionChain:
                        $ref: '#/components/schemas/OptionChain'
                  - properties:
                      StrikePriceMap:
                        $ref: '#/components/schemas/StrikePriceMap'
                  - properties:
                      Option:
                        $ref: '#/components/schemas/Option'
                  - properties:
                      Underlying:
                        $ref: '#/components/schemas/Underlying'
                  - properties:
                      ExpirationDate:
                        $ref: '#/components/schemas/ExpirationDate'
                  - properties:
                      OptionDeliverables:
                        $ref: '#/components/schemas/OptionDeliverables'
                type: array
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: An error message indicating internal error in the service.
      security:
      - Bearer: []
      summary: Get Option Chains for optionable symbols
      tags:
      - Option Chains
  /marketdata/{symbol}/pricehistory:
    get:
      description: Get price history for a symbol
      operationId: getPriceHistory
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: Enter one symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: The type of period to show. Valid values are day, month, year,
          or ytd (year to date). Default is day.
        explode: true
        in: query
        name: periodType
        required: true
        schema:
          example: '''day'' or ''month'' or ''year'' or ''ytd'''
          type: string
        style: form
      - description: |-
          The number of periods to show.

          Example: For a 2 day / 1 min chart, the values would be:
          period: 2
          periodType: day
          frequency: 1
          frequencyType: min
          Valid periods by periodType (defaults marked with an asterisk):
          day: 1, 2, 3, 4, 5, 10*
          month: 1*, 2, 3, 6
          year: 1*, 2, 3, 5, 10, 15, 20
          ytd: 1*
        explode: true
        in: query
        name: period
        required: true
        schema:
          type: integer
        style: form
      - description: |
          The type of frequency with which a new candle is formed.

          Valid frequencyTypes by periodType (defaults marked with an asterisk):

          day: minute*
          month: daily, weekly*
          year: daily, weekly, monthly*
          ytd: daily, weekly*
        explode: true
        in: query
        name: frequencyType
        required: true
        schema:
          type: string
        style: form
      - description: |
          The number of the frequencyType to be included in each candle.

          Valid frequencies by frequencyType (defaults marked with an asterisk):

          minute: 1*, 5, 10, 15, 30
          daily: 1*
          weekly: 1*
          monthly: 1*
        explode: true
        in: query
        name: frequency
        required: true
        schema:
          type: integer
        style: form
      - description: End date as milliseconds since epoch. If startDate and endDate
          are provided, period should not be provided. Default is previous trading
          day.
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      - description: Start date as milliseconds since epoch. If startDate and endDate
          are provided, period should not be provided.
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: true to return extended hours data, false for regular market
          hours only. Default is true
        explode: true
        in: query
        name: needExtendedHoursData
        required: true
        schema:
          example: false
          type: boolean
        style: form
      - description: x
        explode: true
        in: query
        name: x
        required: true
        schema:
          example: x
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleList'
          description: Instruments List
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          description: Not Found
      security:
      - Bearer: []
      summary: Historical price data for charts
      tags:
      - Price History
  /marketdata/{symbol}/quotes:
    get:
      description: Get quote for a symbol.
      operationId: getQuote
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: API Key
        explode: true
        in: query
        name: apiKey
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      MutualFund:
                        $ref: '#/components/schemas/MutualFund'
                  - properties:
                      FutureOptions:
                        $ref: '#/components/schemas/FutureOptions'
                  - properties:
                      Option:
                        $ref: '#/components/schemas/Option'
                  - properties:
                      Forex:
                        $ref: '#/components/schemas/Forex'
                  - properties:
                      ETF:
                        $ref: '#/components/schemas/ETF'
                  - properties:
                      Equity:
                        $ref: '#/components/schemas/Equity'
                type: array
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
      security:
      - Bearer: []
      summary: Search for instrument and fundamental data
      tags:
      - Quotes
  /marketdata/quotes:
    get:
      description: Get quote for one or more symbols.
      operationId: getQuotes
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apiKey
        required: true
        schema:
          type: string
        style: form
      - description: Symbol to search for
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      MutualFund:
                        $ref: '#/components/schemas/MutualFund'
                  - properties:
                      FutureOptions:
                        $ref: '#/components/schemas/FutureOptions'
                  - properties:
                      Option:
                        $ref: '#/components/schemas/Option'
                  - properties:
                      Forex:
                        $ref: '#/components/schemas/Forex'
                  - properties:
                      ETF:
                        $ref: '#/components/schemas/ETF'
                  - properties:
                      Equity:
                        $ref: '#/components/schemas/Equity'
                type: array
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
        "406":
          description: An error message indicating an issue in the symbol regex, or
            number of symbols searched is over the maximum.
      security:
      - Bearer: []
      summary: Search for instrument and fundamental data
      tags:
      - Quotes
  /accounts/{accountId}/transactions/{transactionId}:
    get:
      description: Transaction for a specific account.
      operationId: getTransaction
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller doesn't have access
            to the account in the request.
        "404":
          description: An error message indicating the specified transaction could
            not be found.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access transaction history on the account
      tags:
      - Transaction History
  /accounts/{accountId}/transactions:
    get:
      description: Transactions for a specific account.
      operationId: getTransactions
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Only transactions with the specified type will be returned.
        explode: true
        in: query
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/TransactionType'
        style: form
      - description: Only transactions with the specified symbol will be returned.
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: 'Only transactions after the Start Date will be returned. Note:
          The maximum date range is one year. Valid ISO-8601 formats are: yyyy-MM-dd.'
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: 'Only transactions before the End Date will be returned. Note:
          The maximum date range is one year. Valid ISO-8601 formats are: yyyy-MM-dd.'
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller doesn't have access
            to the account in the request.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access transaction history on the account
      tags:
      - Transaction History
  /accounts/{accountId}/preferences:
    get:
      description: Preferences for a specific account.
      operationId: getPreferences
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
          description: Preferences
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access user-authorized accounts and their preferences
      tags:
      - User Info & Preferences
    put:
      description: Update preferences for a specific account. Please note that the
        directOptionsRouting and directEquityRouting values cannot be modified via
        this operation
      operationId: updatePreferences
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePreferences'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
          description: Preferences
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this resource.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access user-authorized accounts and their preferences
      tags:
      - User Info & Preferences
  /userprincipals/streamersubscriptionkeys:
    get:
      description: SubscriptionKey for provided accounts or default accounts.
      operationId: getStreamerSubscriptionKeys
      parameters:
      - description: Account IDs
        explode: true
        in: query
        name: accountIds
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionKey'
          description: Preferences
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access user-authorized accounts and their preferences
      tags:
      - User Info & Preferences
  /userprincipals:
    get:
      description: User Principal details.
      operationId: getUserPrincipals
      parameters:
      - description: |-
          A comma separated String which allows one to specify additional fields to return. None of these fields are returned by default. Possible values in this String can be: streamerSubscriptionKeys,
          streamerConnectionInfo,
          preferences,
          surrogateIds
        explode: true
        in: query
        name: fields
        required: true
        schema:
          items:
            example: fields=streamerSubscriptionKeys,streamerConnectionInfo
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPrincipal'
          description: Preferences
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access user-authorized accounts and their preferences
      tags:
      - User Info & Preferences
  /accounts/{accountId}/watchlists:
    get:
      description: All watchlists of an account.
      operationId: getWatchlistSingleAccount
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Watchlist'
                type: array
          description: OK
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
    post:
      description: Create watchlist for specific account.This method does not verify
        that the symbol or asset type are valid.
      operationId: createWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWatchlist'
      responses:
        "200":
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
  /accounts/{accountId}/watchlists/{watchlistId}:
    delete:
      description: Delete watchlist for a specific account. This method does not verify
        that the symbol or asset type are valid.
      operationId: deleteWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Watchlist ID
        explode: false
        in: path
        name: watchlistId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "204":
          description: Watchlist deleted.
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
    get:
      description: Specific watchlist for a specific account.
      operationId: getWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Watchlist ID
        explode: false
        in: path
        name: watchlistId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Watchlist'
                type: array
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "404":
          description: An error message indicating the account or the watchlist ID
            does not exist.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
    patch:
      description: 'Partially update watchlist for a specific account: change watchlist
        name, add to the beginning/end of a watchlist, update or delete items in a
        watchlist. This method does not verify that the symbol or asset type are valid.'
      operationId: updateWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Watchlist ID
        explode: false
        in: path
        name: watchlistId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWatchlist'
      responses:
        "200":
          description: OK
        "204":
          description: Watchlist updated.
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
    put:
      description: Replace watchlist for specific account. This method does not verify
        that the symbol or asset type are valid.
      operationId: replaceWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Watchlist ID
        explode: false
        in: path
        name: watchlistId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWatchlist'
      responses:
        "200":
          description: OK
        "204":
          description: Watchlist updated.
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
  /accounts/watchlists:
    get:
      description: All watchlists for all of the user's linked accounts.
      operationId: getWatchlistMultipleAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Watchlist'
                type: array
          description: OK
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
components:
  requestBodies:
    Order:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Order'
      description: The order to place.
  schemas:
    Order:
      example:
        remainingQuantity: 0
        orderType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or ''TRAILING_STOP''
          or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT'' or ''NET_DEBIT''
          or ''NET_CREDIT'' or ''NET_ZERO'''
        orderStrategyType: '''SINGLE'' or ''OCO'' or ''TRIGGER'''
        releaseTime: string
        cancelable: true
        orderId: 0
        session: '''NORMAL'' or ''AM'' or ''PM'' or ''SEAMLESS'''
        stopPriceOffset: 0
        stopPriceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
        orderActivityCollection:
        - quantity: 0
          orderRemainingQuantity: 0
          executionType: FILL
          activityType: '''EXECUTION'' or ''ORDER_ACTION'''
          executionLegs:
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
        - quantity: 0
          orderRemainingQuantity: 0
          executionType: FILL
          activityType: '''EXECUTION'' or ''ORDER_ACTION'''
          executionLegs:
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
        filledQuantity: 0
        enteredTime: string
        duration: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
        stopPriceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or
          ''BID'' or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
        destinationLinkName: string
        price: 0
        priceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
        closeTime: string
        tag: string
        childOrderStrategies:
        - remainingQuantity: 0
          orderType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or ''TRAILING_STOP''
            or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT'' or ''NET_DEBIT''
            or ''NET_CREDIT'' or ''NET_ZERO'''
          quantity: 0
          releaseTime: string
          taxLotMethod: '''FIFO'' or ''LIFO'' or ''HIGH_COST'' or ''LOW_COST'' or
            ''AVERAGE_COST'' or ''SPECIFIC_LOT'''
          session: '''NORMAL'' or ''AM'' or ''PM'' or ''SEAMLESS'''
          stopPriceOffset: 0
          stopPriceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          stopType: '''STANDARD'' or ''BID'' or ''ASK'' or ''LAST'' or ''MARK'''
          filledQuantity: 0
          duration: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
          stopPrice: 0
          stopPriceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or
            ''BID'' or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          priceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or ''BID''
            or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          requestedDestination: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX''
            or ''PHLX'' or ''ISE'' or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS''
            or ''C2'' or ''AUTO'''
          cancelTime:
            date: string
            shortFormat: true
          destinationLinkName: string
          price: 0
          priceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          complexOrderStrategyType: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO''
            or ''CALENDAR'' or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC''
            or ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL''
            or ''COLLAR_WITH_STOCK'' or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY''
            or ''UNBALANCED_CONDOR'' or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL''
            or ''CUSTOM'''
        - remainingQuantity: 0
          orderType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or ''TRAILING_STOP''
            or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT'' or ''NET_DEBIT''
            or ''NET_CREDIT'' or ''NET_ZERO'''
          quantity: 0
          releaseTime: string
          taxLotMethod: '''FIFO'' or ''LIFO'' or ''HIGH_COST'' or ''LOW_COST'' or
            ''AVERAGE_COST'' or ''SPECIFIC_LOT'''
          session: '''NORMAL'' or ''AM'' or ''PM'' or ''SEAMLESS'''
          stopPriceOffset: 0
          stopPriceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          stopType: '''STANDARD'' or ''BID'' or ''ASK'' or ''LAST'' or ''MARK'''
          filledQuantity: 0
          duration: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
          stopPrice: 0
          stopPriceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or
            ''BID'' or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          priceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or ''BID''
            or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          requestedDestination: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX''
            or ''PHLX'' or ''ISE'' or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS''
            or ''C2'' or ''AUTO'''
          cancelTime:
            date: string
            shortFormat: true
          destinationLinkName: string
          price: 0
          priceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          complexOrderStrategyType: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO''
            or ''CALENDAR'' or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC''
            or ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL''
            or ''COLLAR_WITH_STOCK'' or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY''
            or ''UNBALANCED_CONDOR'' or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL''
            or ''CUSTOM'''
        orderLegCollection:
        - orderLegType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or
            ''TRAILING_STOP'' or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT''
            or ''NET_DEBIT'' or ''NET_CREDIT'' or ''NET_ZERO'''
          quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
          quantity: 0
          instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
            or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
            or ''EXCHANGE'''
          legId: 0
          instrument: ""
          positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
        - orderLegType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or
            ''TRAILING_STOP'' or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT''
            or ''NET_DEBIT'' or ''NET_CREDIT'' or ''NET_ZERO'''
          quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
          quantity: 0
          instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
            or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
            or ''EXCHANGE'''
          legId: 0
          instrument: ""
          positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
        quantity: 0
        taxLotMethod: '''FIFO'' or ''LIFO'' or ''HIGH_COST'' or ''LOW_COST'' or ''AVERAGE_COST''
          or ''SPECIFIC_LOT'''
        specialInstruction: '''ALL_OR_NONE'' or ''DO_NOT_REDUCE'' or ''ALL_OR_NONE_DO_NOT_REDUCE'''
        editable: true
        stopType: '''STANDARD'' or ''BID'' or ''ASK'' or ''LAST'' or ''MARK'''
        accountId: 0
        stopPrice: 0
        statusDescription: string
        priceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or ''BID''
          or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
        requestedDestination: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX'' or
          ''PHLX'' or ''ISE'' or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS'' or
          ''C2'' or ''AUTO'''
        cancelTime:
          date: string
          shortFormat: true
        activationPrice: 0
        replacingOrderCollection:
        - '{}'
        - '{}'
        complexOrderStrategyType: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO''
          or ''CALENDAR'' or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC''
          or ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL'' or
          ''COLLAR_WITH_STOCK'' or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY''
          or ''UNBALANCED_CONDOR'' or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL''
          or ''CUSTOM'''
        status: '''AWAITING_PARENT_ORDER'' or ''AWAITING_CONDITION'' or ''AWAITING_MANUAL_REVIEW''
          or ''ACCEPTED'' or ''AWAITING_UR_OUT'' or ''PENDING_ACTIVATION'' or ''QUEUED''
          or ''WORKING'' or ''REJECTED'' or ''PENDING_CANCEL'' or ''CANCELED'' or
          ''PENDING_REPLACE'' or ''REPLACED'' or ''FILLED'' or ''EXPIRED'''
      properties:
        session:
          $ref: '#/components/schemas/Session'
        duration:
          $ref: '#/components/schemas/Duration'
        orderType:
          $ref: '#/components/schemas/OrderType'
        cancelTime:
          $ref: '#/components/schemas/Order_cancelTime'
        complexOrderStrategyType:
          $ref: '#/components/schemas/ComplexOrderStrategyType'
        quantity:
          example: 0
          type: number
        filledQuantity:
          example: 0
          type: number
        remainingQuantity:
          example: 0
          type: number
        requestedDestination:
          $ref: '#/components/schemas/DestinationExchange'
        destinationLinkName:
          example: string
          type: string
        releaseTime:
          example: string
          type: string
        stopPrice:
          example: 0
          type: number
        stopPriceLinkBasis:
          $ref: '#/components/schemas/PriceLinkBasis'
        stopPriceLinkType:
          $ref: '#/components/schemas/PriceLinkType'
        stopPriceOffset:
          example: 0
          type: number
        stopType:
          $ref: '#/components/schemas/StopType'
        priceLinkBasis:
          $ref: '#/components/schemas/PriceLinkBasis'
        priceLinkType:
          $ref: '#/components/schemas/PriceLinkType'
        price:
          example: 0
          type: number
        taxLotMethod:
          $ref: '#/components/schemas/TaxLotMethod'
        orderLegCollection:
          items:
            $ref: '#/components/schemas/Order_orderLegCollection'
          type: array
        activationPrice:
          example: 0
          type: number
        specialInstruction:
          $ref: '#/components/schemas/SpecialInstruction'
        orderStrategyType:
          $ref: '#/components/schemas/OrderStrategyType'
        orderId:
          example: 0
          type: number
        cancelable:
          type: boolean
        editable:
          type: boolean
        status:
          $ref: '#/components/schemas/OrderStatus'
        enteredTime:
          example: string
          type: string
        closeTime:
          example: string
          type: string
        tag:
          example: string
          type: string
        accountId:
          example: 0
          type: number
        orderActivityCollection:
          items:
            $ref: '#/components/schemas/Execution'
          type: array
        replacingOrderCollection:
          items:
            type: object
          type: array
        childOrderStrategies:
          items:
            $ref: '#/components/schemas/Order_childOrderStrategies'
          type: array
        statusDescription:
          example: string
          type: string
      type: object
    Option:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        symbol:
          example: string
          type: string
        description:
          example: string
          type: string
        type:
          $ref: '#/components/schemas/OptionType'
        putCall:
          $ref: '#/components/schemas/PutOrCall'
        underlyingSymbol:
          example: string
          type: string
        optionMultiplier:
          example: 0
          type: number
        optionDeliverables:
          items:
            $ref: '#/components/schemas/Option_optionDeliverables'
          type: array
      type: object
    MutualFund:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        symbol:
          example: string
          type: string
        description:
          example: string
          type: string
        type:
          example: '''NOT_APPLICABLE'' or ''OPEN_END_NON_TAXABLE'' or ''OPEN_END_TAXABLE''
            or ''NO_LOAD_NON_TAXABLE'' or ''NO_LOAD_TAXABLE'''
          type: string
      type: object
    CashEquivalent:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        symbol:
          example: string
          type: string
        description:
          example: string
          type: string
        type:
          example: '''SAVINGS'' or ''MONEY_MARKET_FUND'''
          type: string
      type: object
    Equity:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        symbol:
          example: string
          type: string
        description:
          example: string
          type: string
      type: object
    FixedIncome:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        symbol:
          example: string
          type: string
        description:
          example: string
          type: string
        maturityDate:
          example: string
          type: string
        variableRate:
          example: 0
          type: number
        factor:
          example: 0
          type: number
      type: object
    Execution:
      example:
        quantity: 0
        orderRemainingQuantity: 0
        executionType: FILL
        activityType: '''EXECUTION'' or ''ORDER_ACTION'''
        executionLegs:
        - quantity: 0
          price: 0
          legId: 0
          mismarkedQuantity: 0
          time: string
        - quantity: 0
          price: 0
          legId: 0
          mismarkedQuantity: 0
          time: string
      properties:
        activityType:
          example: '''EXECUTION'' or ''ORDER_ACTION'''
          type: string
        executionType:
          example: FILL
          type: string
        quantity:
          example: 0
          type: number
        orderRemainingQuantity:
          example: 0
          type: number
        executionLegs:
          items:
            $ref: '#/components/schemas/Execution_executionLegs'
          type: array
      type: object
    SavedOrder:
      example:
        remainingQuantity: 0
        orderType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or ''TRAILING_STOP''
          or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT'' or ''NET_DEBIT''
          or ''NET_CREDIT'' or ''NET_ZERO'''
        orderStrategyType: '''SINGLE'' or ''OCO'' or ''TRIGGER'''
        releaseTime: string
        cancelable: true
        orderId: 0
        savedTime: string
        session: '''NORMAL'' or ''AM'' or ''PM'' or ''SEAMLESS'''
        stopPriceOffset: 0
        stopPriceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
        savedOrderId: 0
        orderActivityCollection:
        - quantity: 0
          orderRemainingQuantity: 0
          executionType: FILL
          activityType: '''EXECUTION'' or ''ORDER_ACTION'''
          executionLegs:
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
        - quantity: 0
          orderRemainingQuantity: 0
          executionType: FILL
          activityType: '''EXECUTION'' or ''ORDER_ACTION'''
          executionLegs:
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
        filledQuantity: 0
        enteredTime: string
        duration: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
        stopPriceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or
          ''BID'' or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
        destinationLinkName: string
        price: 0
        priceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
        closeTime: string
        tag: string
        childOrderStrategies:
        - remainingQuantity: 0
          orderType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or ''TRAILING_STOP''
            or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT'' or ''NET_DEBIT''
            or ''NET_CREDIT'' or ''NET_ZERO'''
          orderStrategyType: '''SINGLE'' or ''OCO'' or ''TRIGGER'''
          releaseTime: string
          cancelable: true
          orderId: 0
          session: '''NORMAL'' or ''AM'' or ''PM'' or ''SEAMLESS'''
          stopPriceOffset: 0
          stopPriceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          orderActivityCollection:
          - quantity: 0
            orderRemainingQuantity: 0
            executionType: FILL
            activityType: '''EXECUTION'' or ''ORDER_ACTION'''
            executionLegs:
            - quantity: 0
              price: 0
              legId: 0
              mismarkedQuantity: 0
              time: string
            - quantity: 0
              price: 0
              legId: 0
              mismarkedQuantity: 0
              time: string
          - quantity: 0
            orderRemainingQuantity: 0
            executionType: FILL
            activityType: '''EXECUTION'' or ''ORDER_ACTION'''
            executionLegs:
            - quantity: 0
              price: 0
              legId: 0
              mismarkedQuantity: 0
              time: string
            - quantity: 0
              price: 0
              legId: 0
              mismarkedQuantity: 0
              time: string
          filledQuantity: 0
          enteredTime: string
          duration: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
          stopPriceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or
            ''BID'' or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          destinationLinkName: string
          price: 0
          priceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          closeTime: string
          tag: string
          orderLegCollection:
          - orderLegType: '''EQUITY'' or ''OPTION'' or ''INDEX'' or ''MUTUAL_FUND''
              or ''CASH_EQUIVALENT'' or ''FIXED_INCOME'' or ''CURRENCY'''
            quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
            quantity: 0
            instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
              or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
              or ''EXCHANGE'''
            legId: 0
            instrument: ""
            positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
          - orderLegType: '''EQUITY'' or ''OPTION'' or ''INDEX'' or ''MUTUAL_FUND''
              or ''CASH_EQUIVALENT'' or ''FIXED_INCOME'' or ''CURRENCY'''
            quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
            quantity: 0
            instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
              or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
              or ''EXCHANGE'''
            legId: 0
            instrument: ""
            positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
          quantity: 0
          taxLotMethod: '''FIFO'' or ''LIFO'' or ''HIGH_COST'' or ''LOW_COST'' or
            ''AVERAGE_COST'' or ''SPECIFIC_LOT'''
          specialInstruction: '''ALL_OR_NONE'' or ''DO_NOT_REDUCE'' or ''ALL_OR_NONE_DO_NOT_REDUCE'''
          editable: true
          stopType: '''STANDARD'' or ''BID'' or ''ASK'' or ''LAST'' or ''MARK'''
          accountId: 0
          stopPrice: 0
          priceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or ''BID''
            or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          requestedDestination: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX''
            or ''PHLX'' or ''ISE'' or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS''
            or ''C2'' or ''AUTO'''
          cancelTime:
            date: string
            shortFormat: true
          activationPrice: 0
          replacingOrderCollection:
          - '{}'
          - '{}'
          complexOrderStrategyType: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO''
            or ''CALENDAR'' or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC''
            or ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL''
            or ''COLLAR_WITH_STOCK'' or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY''
            or ''UNBALANCED_CONDOR'' or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL''
            or ''CUSTOM'''
          status: '''AWAITING_PARENT_ORDER'' or ''AWAITING_CONDITION'' or ''AWAITING_MANUAL_REVIEW''
            or ''ACCEPTED'' or ''AWAITING_UR_OUT'' or ''PENDING_ACTIVATION'' or ''QUEUED''
            or ''WORKING'' or ''REJECTED'' or ''PENDING_CANCEL'' or ''CANCELED'' or
            ''PENDING_REPLACE'' or ''REPLACED'' or ''FILLED'' or ''EXPIRED'''
        - remainingQuantity: 0
          orderType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or ''TRAILING_STOP''
            or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT'' or ''NET_DEBIT''
            or ''NET_CREDIT'' or ''NET_ZERO'''
          orderStrategyType: '''SINGLE'' or ''OCO'' or ''TRIGGER'''
          releaseTime: string
          cancelable: true
          orderId: 0
          session: '''NORMAL'' or ''AM'' or ''PM'' or ''SEAMLESS'''
          stopPriceOffset: 0
          stopPriceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          orderActivityCollection:
          - quantity: 0
            orderRemainingQuantity: 0
            executionType: FILL
            activityType: '''EXECUTION'' or ''ORDER_ACTION'''
            executionLegs:
            - quantity: 0
              price: 0
              legId: 0
              mismarkedQuantity: 0
              time: string
            - quantity: 0
              price: 0
              legId: 0
              mismarkedQuantity: 0
              time: string
          - quantity: 0
            orderRemainingQuantity: 0
            executionType: FILL
            activityType: '''EXECUTION'' or ''ORDER_ACTION'''
            executionLegs:
            - quantity: 0
              price: 0
              legId: 0
              mismarkedQuantity: 0
              time: string
            - quantity: 0
              price: 0
              legId: 0
              mismarkedQuantity: 0
              time: string
          filledQuantity: 0
          enteredTime: string
          duration: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
          stopPriceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or
            ''BID'' or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          destinationLinkName: string
          price: 0
          priceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          closeTime: string
          tag: string
          orderLegCollection:
          - orderLegType: '''EQUITY'' or ''OPTION'' or ''INDEX'' or ''MUTUAL_FUND''
              or ''CASH_EQUIVALENT'' or ''FIXED_INCOME'' or ''CURRENCY'''
            quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
            quantity: 0
            instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
              or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
              or ''EXCHANGE'''
            legId: 0
            instrument: ""
            positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
          - orderLegType: '''EQUITY'' or ''OPTION'' or ''INDEX'' or ''MUTUAL_FUND''
              or ''CASH_EQUIVALENT'' or ''FIXED_INCOME'' or ''CURRENCY'''
            quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
            quantity: 0
            instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
              or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
              or ''EXCHANGE'''
            legId: 0
            instrument: ""
            positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
          quantity: 0
          taxLotMethod: '''FIFO'' or ''LIFO'' or ''HIGH_COST'' or ''LOW_COST'' or
            ''AVERAGE_COST'' or ''SPECIFIC_LOT'''
          specialInstruction: '''ALL_OR_NONE'' or ''DO_NOT_REDUCE'' or ''ALL_OR_NONE_DO_NOT_REDUCE'''
          editable: true
          stopType: '''STANDARD'' or ''BID'' or ''ASK'' or ''LAST'' or ''MARK'''
          accountId: 0
          stopPrice: 0
          priceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or ''BID''
            or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          requestedDestination: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX''
            or ''PHLX'' or ''ISE'' or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS''
            or ''C2'' or ''AUTO'''
          cancelTime:
            date: string
            shortFormat: true
          activationPrice: 0
          replacingOrderCollection:
          - '{}'
          - '{}'
          complexOrderStrategyType: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO''
            or ''CALENDAR'' or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC''
            or ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL''
            or ''COLLAR_WITH_STOCK'' or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY''
            or ''UNBALANCED_CONDOR'' or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL''
            or ''CUSTOM'''
          status: '''AWAITING_PARENT_ORDER'' or ''AWAITING_CONDITION'' or ''AWAITING_MANUAL_REVIEW''
            or ''ACCEPTED'' or ''AWAITING_UR_OUT'' or ''PENDING_ACTIVATION'' or ''QUEUED''
            or ''WORKING'' or ''REJECTED'' or ''PENDING_CANCEL'' or ''CANCELED'' or
            ''PENDING_REPLACE'' or ''REPLACED'' or ''FILLED'' or ''EXPIRED'''
        orderLegCollection:
        - orderLegType: '''EQUITY'' or ''OPTION'' or ''INDEX'' or ''MUTUAL_FUND''
            or ''CASH_EQUIVALENT'' or ''FIXED_INCOME'' or ''CURRENCY'''
          quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
          quantity: 0
          instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
            or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
            or ''EXCHANGE'''
          legId: 0
          instrument: ""
          positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
        - orderLegType: '''EQUITY'' or ''OPTION'' or ''INDEX'' or ''MUTUAL_FUND''
            or ''CASH_EQUIVALENT'' or ''FIXED_INCOME'' or ''CURRENCY'''
          quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
          quantity: 0
          instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
            or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
            or ''EXCHANGE'''
          legId: 0
          instrument: ""
          positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
        quantity: 0
        taxLotMethod: '''FIFO'' or ''LIFO'' or ''HIGH_COST'' or ''LOW_COST'' or ''AVERAGE_COST''
          or ''SPECIFIC_LOT'''
        specialInstruction: '''ALL_OR_NONE'' or ''DO_NOT_REDUCE'' or ''ALL_OR_NONE_DO_NOT_REDUCE'''
        editable: true
        stopType: '''STANDARD'' or ''BID'' or ''ASK'' or ''LAST'' or ''MARK'''
        accountId: 0
        stopPrice: 0
        statusDescription: string
        priceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or ''BID''
          or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
        requestedDestination: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX'' or
          ''PHLX'' or ''ISE'' or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS'' or
          ''C2'' or ''AUTO'''
        cancelTime:
          date: string
          shortFormat: true
        activationPrice: 0
        complexOrderStrategyType: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO''
          or ''CALENDAR'' or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC''
          or ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL'' or
          ''COLLAR_WITH_STOCK'' or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY''
          or ''UNBALANCED_CONDOR'' or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL''
          or ''CUSTOM'''
        status: '''AWAITING_PARENT_ORDER'' or ''AWAITING_CONDITION'' or ''AWAITING_MANUAL_REVIEW''
          or ''ACCEPTED'' or ''AWAITING_UR_OUT'' or ''PENDING_ACTIVATION'' or ''QUEUED''
          or ''WORKING'' or ''REJECTED'' or ''PENDING_CANCEL'' or ''CANCELED'' or
          ''PENDING_REPLACE'' or ''REPLACED'' or ''FILLED'' or ''EXPIRED'''
      properties:
        session:
          $ref: '#/components/schemas/Session'
        duration:
          $ref: '#/components/schemas/Duration'
        orderType:
          $ref: '#/components/schemas/OrderType'
        cancelTime:
          $ref: '#/components/schemas/Order_cancelTime'
        complexOrderStrategyType:
          $ref: '#/components/schemas/ComplexOrderStrategyType'
        quantity:
          example: 0
          type: number
        filledQuantity:
          example: 0
          type: number
        remainingQuantity:
          example: 0
          type: number
        requestedDestination:
          $ref: '#/components/schemas/DestinationExchange'
        destinationLinkName:
          example: string
          type: string
        releaseTime:
          example: string
          type: string
        stopPrice:
          example: 0
          type: number
        stopPriceLinkBasis:
          $ref: '#/components/schemas/PriceLinkBasis'
        stopPriceLinkType:
          $ref: '#/components/schemas/PriceLinkType'
        stopPriceOffset:
          example: 0
          type: number
        stopType:
          $ref: '#/components/schemas/StopType'
        priceLinkBasis:
          $ref: '#/components/schemas/PriceLinkBasis'
        priceLinkType:
          $ref: '#/components/schemas/PriceLinkType'
        price:
          example: 0
          type: number
        taxLotMethod:
          $ref: '#/components/schemas/TaxLotMethod'
        orderLegCollection:
          items:
            $ref: '#/components/schemas/SavedOrder_orderLegCollection'
          type: array
        activationPrice:
          example: 0
          type: number
        specialInstruction:
          $ref: '#/components/schemas/SpecialInstruction'
        orderStrategyType:
          $ref: '#/components/schemas/OrderStrategyType'
        orderId:
          example: 0
          type: number
        cancelable:
          type: boolean
        editable:
          type: boolean
        status:
          $ref: '#/components/schemas/OrderStatus'
        enteredTime:
          example: string
          type: string
        closeTime:
          example: string
          type: string
        tag:
          example: string
          type: string
        accountId:
          example: 0
          type: number
        orderActivityCollection:
          items:
            $ref: '#/components/schemas/Execution'
          type: array
        childOrderStrategies:
          items:
            $ref: '#/components/schemas/SavedOrder_childOrderStrategies'
          type: array
        statusDescription:
          example: string
          type: string
        savedOrderId:
          example: 0
          type: number
        savedTime:
          example: string
          type: string
      type: object
    Account:
      example:
        securitiesAccount: ""
      properties:
        securitiesAccount:
          anyOf:
          - $ref: '#/components/schemas/CashAccount'
          - $ref: '#/components/schemas/MarginAccount'
      type: object
    CashAccount:
      properties:
        type:
          example: '''CASH'' or ''MARGIN'''
          type: string
        accountId:
          example: string
          type: string
        roundTrips:
          example: 0
          type: number
        isDayTrader:
          type: boolean
        isClosingOnlyRestricted:
          type: boolean
        positions:
          items:
            $ref: '#/components/schemas/CashAccount_positions'
          type: array
        orderStrategies:
          items:
            $ref: '#/components/schemas/CashAccount_orderStrategies'
          type: array
        initialBalances:
          $ref: '#/components/schemas/CashAccount_initialBalances'
        currentBalances:
          $ref: '#/components/schemas/CashAccount_currentBalances'
        projectedBalances:
          $ref: '#/components/schemas/CashAccount_currentBalances'
      type: object
    MarginAccount:
      properties:
        type:
          example: '''CASH'' or ''MARGIN'''
          type: string
        accountId:
          example: string
          type: string
        roundTrips:
          example: 0
          type: number
        isDayTrader:
          type: boolean
        isClosingOnlyRestricted:
          type: boolean
        positions:
          items:
            $ref: '#/components/schemas/CashAccount_positions'
          type: array
        orderStrategies:
          items:
            $ref: '#/components/schemas/MarginAccount_orderStrategies'
          type: array
        initialBalances:
          $ref: '#/components/schemas/MarginAccount_initialBalances'
        currentBalances:
          $ref: '#/components/schemas/MarginAccount_currentBalances'
        projectedBalances:
          $ref: '#/components/schemas/MarginAccount_currentBalances'
      type: object
    EASObject:
      example:
        access_token: string
        refresh_token_expires_in: 0
        refresh_token: string
        scope: string
        token_type: string
        expires_in: 0
      properties:
        access_token:
          example: string
          type: string
        refresh_token:
          example: string
          type: string
        token_type:
          example: string
          type: string
        expires_in:
          example: 0
          type: number
        scope:
          example: string
          type: string
        refresh_token_expires_in:
          example: 0
          type: number
      type: object
    OrderCollection:
      items:
        properties:
          session:
            $ref: '#/components/schemas/Session'
          duration:
            $ref: '#/components/schemas/Duration'
          orderType:
            $ref: '#/components/schemas/OrderType'
          cancelTime:
            properties:
              date:
                example: string
                type: string
              shortFormat:
                type: boolean
            type: object
          complexOrderStrategyType:
            $ref: '#/components/schemas/ComplexOrderStrategyType'
          quantity:
            example: 0
            type: number
          filledQuantity:
            example: 0
            type: number
          remainingQuantity:
            example: 0
            type: number
          requestedDestination:
            $ref: '#/components/schemas/DestinationExchange'
          destinationLinkName:
            example: string
            type: string
          releaseTime:
            example: string
            type: string
          stopPrice:
            example: 0
            type: number
          stopPriceLinkBasis:
            $ref: '#/components/schemas/PriceLinkBasis'
          stopPriceLinkType:
            $ref: '#/components/schemas/PriceLinkType'
          stopPriceOffset:
            example: 0
            type: number
          stopType:
            $ref: '#/components/schemas/StopType'
          priceLinkBasis:
            $ref: '#/components/schemas/PriceLinkBasis'
          priceLinkType:
            $ref: '#/components/schemas/PriceLinkType'
          price:
            example: 0
            type: number
          taxLotMethod:
            $ref: '#/components/schemas/TaxLotMethod'
          orderLegCollection:
            items:
              properties:
                orderLegType:
                  $ref: '#/components/schemas/AssetType'
                legId:
                  example: 0
                  type: number
                instrument:
                  anyOf:
                  - $ref: '#/components/schemas/Option'
                  - $ref: '#/components/schemas/MutualFund'
                  - $ref: '#/components/schemas/CashEquivalent'
                  - $ref: '#/components/schemas/Equity'
                  - $ref: '#/components/schemas/FixedIncome'
                instruction:
                  $ref: '#/components/schemas/Instruction'
                positionEffect:
                  $ref: '#/components/schemas/PositionEffect'
                quantity:
                  example: 0
                  type: number
                quantityType:
                  $ref: '#/components/schemas/QuantityType'
              type: object
            type: array
          activationPrice:
            example: 0
            type: number
          specialInstruction:
            $ref: '#/components/schemas/SpecialInstruction'
          orderStrategyType:
            $ref: '#/components/schemas/OrderStrategyType'
          orderId:
            example: 0
            type: number
          cancelable:
            type: boolean
          editable:
            type: boolean
          status:
            $ref: '#/components/schemas/OrderStatus'
          enteredTime:
            example: string
            type: string
          closeTime:
            example: string
            type: string
          tag:
            example: string
            type: string
          accountId:
            example: 0
            type: number
          orderActivityCollection:
            items:
              anyOf:
              - $ref: '#/components/schemas/Execution'
            type: array
          replacingOrderCollection:
            items:
              type: object
[...]
